@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

html, body, section, div, span, iframe, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	background: black;
}

.frame {
	background: #708090;
	display: flex;
	flex-direction: row;
	padding: 8px 6px 8px 0px;
}

.interior {
	background: #100020;
	color: #eeeeff;
	padding: 22px;
	text-align: justify;
}

.sidebar {
	background: #708090;
	width: 50px;
}

.side-link {
	background: #907080;
	color: #eeeeff;
	height: 50px;
	list-style: none;
	margin: 32px 6px 32px 6px;
	left: -36px;
	line-height: 54px;
	position: relative;
	text-align: center;
	width: 50px;
}

.side-link:first-child {
	margin-top: 0px;
}

.side-link:last-child {
	margin-top: 0px;
}
