@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body, section, div, span, iframe, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	background: #eddcb6;
	font-family: 'Source Sans Pro', sans-serif;
}

.header {
	background: #bc763e;
	display: flex;
	flex-direction: row;
	height: 80px;
	list-style: none;
	margin: -8px 0px 0px -8px;
	width: 106%;
}

.header-link {
	background: #e5b87c;
	height: 60px;
	line-height: 60px;
	margin: 10px;
	width: 60px;
}

.header-link, .side-link {
	background: #e5b87c;
	color: #44200a;
	list-style: none;
	text-align: center;
}

.frame {
	background: #bc763e;
	display: flex;
	flex-direction: row;
	height: 90%;
	margin: 12px auto 0px auto;
	padding: 8px 8px 8px 0px;
	width: 90%;
}

.interior {
	background: #e5b87c;
	color: #44200a;
	padding: 22px;
	text-align: justify;
}

.sidebar {
	background: #bc763e;
	width: 50px;
}

.side-link {
	height: 50px;
	right: 26px;
	line-height: 50px;
	margin: 32px 6px 32px 6px;
	position: relative;
	width: 50px;
}
