@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body, section, div, span, iframe, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li,{
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	padding: 0;
}

body {
	background: #1B1725;
  display: flex;
  flex-direction: row;
	font-family: 'Source Sans Pro', sans-serif;
}

.left-side {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
	.story-panel {
		align-items: center;
		background: #A499B3;
		display: flex;
		flex-direction: column;
		height: 86%;
		justify-content: center;
		width: 92%;
		.image-container {
			height: 62%;
			width: 94%;
			.image {
				background: #000;
				height: 100%;
				width: 100%;
			}
		}
		.text-panels {
			display: flex;
			flex-direction: row;
			height: 32%;
			justify-content: center;
			width: 100%;
			.title-panel, .description-panel {
				background: #534B62;
				height: 90%;
				margin-top: 10%;
			}
			.title-panel {
				width: 37%;
			}
			.description-panel {
				width: 57%;
			}
		}
	}
}

.right-side {
	background: #f00;
	height: 100%;
	width: 35%;
}
